<br>
<br>
<br>
<br>
<br>
<hr>
<footer>
    <i class="fa fa-copyright" aria-hidden="true"></i>
    <a href="https://www.chriswoosley.com">Christopher Woosley </a>
     / 2017 /
    <a href="https://github.com/cwooz"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/istaywoozy/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
     / 
</footer>     
    </body>
</html>


